.navbar {
    width: 100%;
    background: linear-gradient(11deg, rgba(255, 255, 255, 0.8) 0%, 
    rgba(97, 122, 100, 0.95) 50%);
    position: fixed;
    border-radius: 2px;
    z-index: 999;
    font-family: "Merienda", cursive;
}
.navbar img {
  height: 50px;
  margin-left: 120%;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0px;
  margin: 0px;
  height: 100px;
}
.navbar ul li:first-child {
  width: 90%;
  justify-content: left;
}
.navbar li {
  margin: 10px;
  height: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
}
.navbar ul li:last-child {
  width: 200px;
}
.navbar a {
  color: white;
  text-shadow: 1px 1px #000;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar-full {
  margin: 0 !important;
  position: -webkit-sticky !important;
  position: sticky !important; 
  top: 0 !important;
  border-radius: 0;
  width: 100% !important;
  margin-bottom: 20px !important;
}
.active {
  border-bottom: 2px solid white;
}