.footer{
        display: flex;
        height: 200px;
        width: 100%;
        margin:100px 0 0 0;
        justify-content: center;
        font-size: 120%;
        background-color: grey;
        align-items: center;
      }